body {
    background-image: url("./assets/background-image.jpg");
    background-size: 1500px 800px;
   

}

header {
    font-family: 'Rye', cursive;
    color: red;
    font-size: 50px;
    text-align: center;
}
h1 {
    font-family: 'Bungee', cursive;
    color: white;
}

#classLabel{
    font-family: 'Bungee', cursive;
    color: white;
}

article {
    color: hotpink;
    font-family: 'Bungee', cursive;
    width: 45%;
    background-color: rgba(47, 79, 79, 0.7);
    float: left;
    overflow: hidden;
    margin: 0 auto;
    border-radius: 5px;
    font-size: 18px;
}

.submit {
    font-family: 'Bungee', cursive;
}


.classDesc {
    color: hotpink;
    font-family: 'Bungee', cursive; 
    font-size: 18px;
    width: 50%;
    float: right;
    text-align: left;
    background-color: rgba(47, 79, 79, 0.7);
    border-radius: 5px;
}

footer {
    margin-top: 27%;
}

iframe {
    float: right;
}




